.counter {
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.178);
    margin: auto;
}

.display {
    margin: 0;
    text-align: right;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: rgb(169, 169, 169);

}

.controls {
    margin-top: 20px;
    text-align: right;

}
.btn {
    min-width: 150px;
    padding: 10px 15px;
    margin: 10px 5px;
    border: none;
    outline: none;
    background-color: rgb(154, 154, 202);
    color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.31);
    cursor: pointer;
    transition: all .5s;
}
.btn:focus {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.31);
}