.counter {
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0, 0,0.178);
    margin: auto;
}

.display {
    margin: 0;
    text-align: right;
    color: rgb(169, 169, blue);

}

.controls {
    margin-top: 20px;

}
.btn {
    min-width: 150px;
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    outline: none;
    background-color: rgb(119, 119, 182);
    color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.31);
    cursor: pointer;
    transition: all .5s;
}
.btn:focus